.card {
    border: 1px solid #103D50;
    width: max-content;
    border-radius: 8px;
    padding: 16px;
    margin: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
    background-color: #6E92A1;
    position: relative;
}

.card:hover {
    /* transform: scale(1.05); */
    background-color: #103D50;
}

.card-title {
    font-size: 1.5em;
    margin-bottom: 8px;
}

.card-content {
    font-size: 1em;
    color: #555;
}

.card-command {
    min-width: 50 px;
    margin-right: 5px;
    ;
    font-size: 1em;
    font-family: 'Courier New', Courier, monospace;
    color: #1f1d1d;
    border: #103D50;
    border-radius: 8px;
    /* Rounded corners */
    background-color: #467386;

}

.card-button {
    font-size: 12px;
    color: #f4f4f4;
    border-radius: 8px;
    background-color: #467386;
    border: #467386;
    padding: 5px;
}
.card-button:hover{
    background-color: #022f42;
}

.card-output {
    font-family: 'Courier New', Courier, monospace;
    color: #1f1d1d;
    background-color: #467386;
    min-width: 600px;
    margin: 20px;
    height: 100px;
    text-wrap:wrap;
}

.card-output-error {
    font-family: 'Courier New', Courier, monospace;
    background-color: #467386;
    margin: 20px;
    height: 100px;
    text-wrap:wrap;
    color: red;
}

.card-delete {
    position: absolute;
    top: 8px;
    right: 8px;
    justify-content: right;
    background-color: #467386;
    border: #467386;
    border-radius: 8px;
    padding: 5px;
}

.card-delete:hover {
    background-color: #022f42;
}