.container {

    padding: 16px;
    margin: 16px;
}

.container-button {
    border-radius: 8px; /* Rounded corners */
    padding: 10px 20px; /* Padding */
    margin: 16px;
}
.container-button:hover {
    background-color: #bbc1bc; /* Darker green on hover */
}

.machine-list{
    list-style-type:none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}