.container {
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 16px;
    margin: 16px;
    background-color: #27566B;
}

.container-button {
    border-radius: 8px; /* Rounded corners */
    padding: 10px 20px; /* Padding */
    margin: 16px;
}
.container-button:hover {
    background-color: #bbc1bc; /* Darker green on hover */
}

.container-title{
    background-color: #6E92A1;
    border-radius: 8px;
    padding: 16px;
    margin: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.machine-list{
    list-style-type:none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}